:root {
  --primary: #1e1e1e;
  --secondary: #ffe8ef;
  --accent: #d7890c;
}

body {
  background: var(--secondary);
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
  margin: auto;
  margin-top: 100px;
  max-width: 750px;
  text-align: center;
}

.container-fluid {
  max-width: 50%;
  margin: 0 auto;
}

h1 {
  margin: 25px;
  margin-top: 50px;
}

h2 {
  font-size: 24px;
}

a {
  display: block;
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

.mail {
  color: var(--accent);
}

img {
  border-radius: 10px;
  height: 550px;
  object-fit: cover;
  width: 400px;
}

footer {
  font-size: 48px;
}
